/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* Body */

body{
    background:#020c2b;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

/* Main Container */

.container{
    width:100%;
    max-width:900px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:25px;
    padding:40px;
    box-shadow:0 0 25px rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
}

/* Heading */

h1{
    text-align:center;
    font-size:3rem;
    margin-bottom:15px;
    background:linear-gradient(to right,#38bdf8,#8b5cf6);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/* Subtitle */

.subtitle{
    text-align:center;
    color:#94a3b8;
    margin-bottom:40px;
    line-height:1.8;
    font-size:1rem;
}

/* Labels */

label{
    display:block;
    margin-bottom:12px;
    margin-top:20px;
    font-size:1rem;
    font-weight:500;
}

/* Textarea */

textarea{
    width:100%;
    height:220px;
    padding:18px;
    border:none;
    outline:none;
    border-radius:15px;
    resize:none;
    font-size:1rem;
    margin-bottom:25px;
    background:#0f172a;
    color:white;
    border:1px solid rgba(255,255,255,0.08);
}

/* File Input */

input[type="file"]{
    width:100%;
    padding:15px;
    background:#0f172a;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.08);
    color:white;
    margin-bottom:30px;
}

/* Button */

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:50px;
    background:#06b6d4;
    color:white;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0891b2;
    transform:translateY(-3px);
    box-shadow:0 0 20px rgba(6,182,212,0.5);
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
    overflow:hidden;
    border-radius:20px;
}

/* Table Header */

th{
    background:#06b6d4;
    color:white;
    padding:18px;
    font-size:1rem;
}

/* Table Data */

td{
    padding:18px;
    text-align:center;
    border-bottom:1px solid rgba(255,255,255,0.08);
    background:#0f172a;
}

/* Hover Effect */

tr:hover td{
    background:#111c3d;
}

/* Back Button */

.back-btn{
    text-align:center;
    margin-top:40px;
}

.back-btn a{
    text-decoration:none;
    color:white;
    background:#06b6d4;
    padding:14px 30px;
    border-radius:50px;
    transition:0.3s;
    display:inline-block;
}

.back-btn a:hover{
    background:#0891b2;
    transform:translateY(-3px);
}

/* Responsive */

@media(max-width:768px){

    .container{
        padding:25px;
    }

    h1{
        font-size:2rem;
    }

    textarea{
        height:180px;
    }

    th,
    td{
        padding:12px;
        font-size:0.9rem;
    }

}